<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - ShoppingListApp</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div id="shopping-list">
        <div class="header">
            <h1>{{ header || 'Welcome' }}</h1>
            <button class="btn btn-cancel" v-if="editing" @click="doEdit(false)">Close</button>
            <button class="btn btn-primry" v-else @click="doEdit(true)">Add Item</button>
        </div>
        <div v-if="editing" class="add-item-form">
            <input 
                @keyup.enter="saveItem" 
                type="text" 
                v-model="newItem" 
                placeholder="Add an item"
            >
            <p class="counter">{{ characterCount }}/150</p>
            <label>
                <input type="checkbox" v-model="newItemHighPriority">
                High Priority
            </label>
            <button 
                :disabled="newItem.length < 4"
                @click="saveItem" 
                class="btn btn-primary">
                Save Item
            </button>
        </div>
        <p v-if="arrayItems.length === 0">Nice job! You've bought all your items!</p>
        <ul>
            <li 
                v-for="item in reversedItems" 
                :key="item.id"
                class="static-class"
                @click="togglePurchased(item)"
                :class="[item.purchased && 'strikeout', item.highPriority && 'priority']">
                {{ item.label }}
            </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</body>

</html>