<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Fundamentals PART II</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <div id="shopping-list">
        <h1>{{ header || 'Welcome' }}</h1>
        <div class="add-item-form">
            <input 
                @:keyup.enter="arrayItems.push({ id: arrayItems.length+1, label: newItem })" 
                type="text" 
                v-model="newItem" 
                placeholder="Add an item"
            >
            <label>
                <input type="checkbox" v-model="newItemHighPriority">
                High Priority
            </label>
            <button 
                @:click="arrayItems.push({ id: arrayItems.length+1, label: newItem })" 
                class="btn btn-primary">
                Save Item
            </button>
        </div>
        <!-- <strong>Priority: </strong>
        <label>
            <input type="radio" v-model="newItemPriority" value="high">
        </label>
        <label>
            <input type="radio" v-model="newItemPriority" value="low">
        </label>

        <label>
            <select v-model="newItemPriority">
                <option value="low">Low</option>
                <option value="high">High</option>
            </select>
        </label> -->


        <!-- <br> -->
        <!-- {{ newItem }} | {{ newItemHighPriority }}
        
        <br><br>
        <label> <input type="checkbox" v-model="iceCreamFlavors" value="vainilla"> Vainilla</label>
        <label> <input type="checkbox" v-model="iceCreamFlavors" value="chocolate"> Chocolate</label>
        <label> <input type="checkbox" v-model="iceCreamFlavors" value="strawberry"> Strawberry</label>
        <label> <input type="checkbox" v-model="iceCreamFlavors" value="cookies-and-cream"> Cookies and Cream</label> -->

        <ul>
            <li v-for="item in arrayItems" :key="item.id">
                {{ item.label }}
            </li>
        </ul>

        <!-- Otras formas en las que podemos usar el v-for -->
        <!-- <ul>
            <li v-for="(item, index) in arrayItems" :key="item.id">
               {{ index }} - {{ item.label }}
            </li>
        </ul>

        <ul>
            <li v-for="(value, key) in objectItems" :key="value.id">
               {{ key }} - {{ value.label }}
            </li>
        </ul>

        <ul>
            <li v-for="(value, key, index) in objectItems" :key="value.id">
              {{ index }} - {{ key }} - {{ value.label }}
            </li>
        </ul> -->
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="index.js"></script>
</body>

</html>